*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: 0;
border-radius: 0;
background-color: hsl(343, 63%, 71%);

}
body{
	background-color: pink;
	color: white;
	text-align: center;
}


.navbar-brand{

font-size: 30px;
font-family: Verdana, Geneva, Tahoma, sans-serif;	

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 2px solid white;
  }
	

h2{
	text-align: center;
}
