*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: pink;
color: #DE3163;
}
body{
	background-color: #DE3163;
	color: white;
}
.navbar-brand h1 {
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
	color #DE3163;
	font-size: 1.5em;
	font-weight: bold;

}
.navbar-brand {
	padding-top: 25px;
}
