*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: 0;
border-radius: 0;
background-color: hsl(343, 63%, 71%);


}
.glyphicon{
	font-size: 30px;
	color:white; 
}

h1{
	color: black;
}
body{
	background-color: pink;
	color: white;
	text-align: center;
}

#myNavbar ul li a {
	color: #910739;
}
.navbar-brand{

font-size: 30px;
font-family: Verdana, Geneva, Tahoma, sans-serif;	

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 2px solid white;
  }
	
.container-2
{
	background-color:#910739;
	margin: 15px;
	padding: 10px;
	border-radius: 10%;

	
}

h2{
	text-align: center;
}
